.left-nav{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
}
.home-layout-main{
    padding: 30px;
    padding-left: 230px;
    height: 100%;
}

.home-content{
    width: 100vw;
    height: 100vh;
    background: url(../img/bg/homeBg.png);
    background-size: cover;
}